body{
	background:url('image/15.jpg') no-repeat;
	background-size:cover;
	font-family:arial;
	color:green;
}
header{
	border:2px solid blue;
	height:100px;
	
} 
h1 {
  color:  white;
  background-color: red;
  text-align:center;
  margin-top:20px;
}
h3{
	margin-top:0px;
	color:greenyellow;
}
nav{
	background-color:white;
	
}


ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
ul li{
	
	float:left;
	width:195px;
	height:40px;
	background-color:blue;
	
	line-height:40px;
	text-align:center;
	font-size:20px;
	margin-right:3px;
}
ul li a{
	text-decoration:none;
	color:white;
	display:block;
	
	
}
ul li a:hover{
	background-color:white;
	color:black;
}
ul li ul li {
	display:none;
}
ul li:hover ul li{
	display:block;
}
.img1
{width:100%;
	float:right; 
	margin-top:500px;
	width:550px;
	height:460px;
	
}

h2{
	float:right;
}
.div1{
	font-family: times new roman;
	font-style:italic;
	background-color:blue;
	width:250px;
  	color:white;
 	border: 2px solid green;
	 text-align:
	center;
	float:left;
	
}
.div2{
		float: right;
		border:1px solid purple;
		background-color:004b4f0;
		margin:2px;
		padding:3px;
		
	
	
}







